<div class="homepageabovecontent">
    {% for static_file in site.static_files %}
      {% if static_file.path == '/assets/avatar.jpg' %}
      <div class="avatardiv"><img class="avatar" alt="Avatar" width="128" height="128" src="/assets/avatar.jpg" /></div>
      {% endif %}
    {% endfor %}

    <div class="rightofavatar">
      {%- if site.tagline != blank -%}
        <p class="tagline">{{ site.tagline }}</p>
      {%- endif -%}
      {% include archive.html %}
    </div>

    <div class="hpabcbottom">
      {%- if site.intro != blank -%}
        <p class="intro">{{ site.intro }}</p>
      {%- endif -%}
      {% include archive.html %}
    </div>
</div>
